body {
  font-family: Sans-Serif;
}

#survey {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 20px;
  height: 600px;
  position: fixed;
  width: 350px;
}

#survey .header{
  padding: 5px 20px;
  background: #333;
  border-bottom: 4px solid #1a6b96;
}
#survey .header .logo{
  background: url(../images/logo.png) no-repeat left;
  background-size: contain;
  width: 130px;
  display: inline-block;
  height: 30px;
}

#survey .header .right{
  float: right;
  vertical-align: middle;
  height: 30px;
  align-items: center;
  display: flex;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

#survey .title h2{
  font-size: 20px;
  font-weight: bolder;
  
}

#survey .title_d {
  padding-top: 10px;
}

#survey .title_d h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    display: none;
}

.clearfix{
  padding: 30px 40px 15px 40px;
}

#survey .form{
  padding: 15px 40px;
}

#survey .form label {
    font-size: 14px;
    font-weight: 300;
}
#survey .form fieldset {
  padding: 10px 0px 15px;
}
#survey .form fieldset button {
    float: right;
    background: #1a6b96;
    border: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 6px;
}
#survey .form .submit_btn{
  padding:0px 0px 10px 0px;
}

#survey .form fieldset input,
#survey .form fieldset select,
#survey .form fieldset textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background: none;
}
#survey .form fieldset input:focus,
#survey .form fieldset select:focus,
#survey .form fieldset textarea:focus{
  background: #e0f4ff;

} 

#survey .form fieldset input::placeholder{
  font-style: italic;
}

#survey .form .req{
  float: right;
  font-size: 12px;
}

.errorlabel{
  display: none;
}
.error{
    border-color: #ff0000 !important;
    color: #ff0000 !important;
}
input.error{
    background: #fbacc8 !important;
}

#survey .footer {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 12px;
    padding: 8px;
    background: #ccc;
    box-sizing: border-box;
}

/* custom select box */
select#state{
   -webkit-appearance: none;
   -moz-appearance: none;
   font-family: Sans-Serif;
}

div.selectBoxInner{
    position:relative;
    width:100%;
}

svg.iconSelect{
    width:12px;
    position:absolute;
    top :13px;
    right:10px;
}
.iconCaret {
  fill :#000000;
}


